<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">



       <context:property-placeholder location="classpath*:db.properties"
                                     ignore-unresolvable="true"/>


       <bean class="db.DatabaseConnectionFactory">
              <property name="server" value="${db.target.server}"/>
              <property name="port" value="${db.target.port}"/>
              <property name="database" value="${db.target.database}"/>
              <property name="user" value="${db.target.user}"/>
              <property name="pass" value="${db.target.pass}"/>
       </bean>
       <bean class="service.impl.InsertIntoDBServiceImpl"/>
       <bean class="service.impl.ISVZServiceImpl"/>
</beans>